.full-width {
  width: 100%;
}

.dark-card {
  background-color: #2b2b2b;
  color: white;
}

mat-card-title {
  font-weight: bold;
  font-size: 1.2rem;
}

mat-form-field {
  color: white !important;
}

mat-select, input[matInput] {
  color: white !important;
}

.mat-select-arrow {
  color: white;
}
